$main-color: #094b85;
$color-text: rgb(33, 37, 41);
$bg-color: #f2f6f9;
$active-color: #d44113; //цвет выделения активной позиции в сайдбаре (второй гдавный цвет в офрмлении)

$menu-color: #262626;
$hover-color: #3d91d6;
$pad: 48px; //не нужен
